<div class="product-container">

    <img src={{item.url}} class="img" >
    <div class="detail-container">

        <h4>{{item.name}}</h4>
        <p>${{item.price}}</p>
        <p>{{item.description}}</p>
        <select class="select-input" (change)="selectQuantity($event.target)">
            <option *ngFor="let x of quantities" [ngValue]="x">{{x}}</option>
        </select>
        <button class="btn btn-primary" (click)="addToCart()">Add To Cart</button>
        <br>
        <a routerLink="/" class="back-link">Back to product list</a>
    </div>
</div>

