.navigation{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    background: #33B5E5;
    padding: 20px 200px 20px 200px;
}

.rowItems{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}

a{
    color: #ffffff;
    font-size: 14px ;
    
}
.title{
    background: #33B5E5;
    color: #ffffff;
}